body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f8fa;
    margin: 0;
}

header {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #52c9ff;
}

header img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
}

header h1 {
    margin: 0;
    color: #52c9ff;
}

nav {
    margin-top: 10px;
}


a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

.btn-primary {
    color: #52c9ff;
    font-weight: bold;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}




/* Style pour la fiche détaillée */
.fiche-detail {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.fiche-photo {
    width: 100%;
    max-width: 400px;

    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    display: block;
}

.fiche-info h1 {
    color: #333;
    margin-top: 0;
}

.description {
    line-height: 1.6;
    color: #555;
    margin: 20px 0;
}